{% extends "layout.html.j2" %}
{% block content %}


<div class="row">
    <div class="col p-2 bg-light">
    </div>
</div>
<div class="row bg-light shadow">
    <div class="col-lg-3 justify-content-end">
        Användarinformation
    </div>
    <div class="col">
        <form>
            <label for="full_name">Namn</label>
            <input id="full_name" class="form-control" placeholder="{{ user.first_name }} {{ user.last_name }}"
                disabled>
            <label for="email">E-post </label>
            <input id="email" class="form-control" placeholder="{{ user.email }}" disabled>
            <label for="phone_number">Telefonnummer </label>
            <input id="phone_number" class="form-control" placeholder="{{ user.phone_number }}" disabled>
        </form>
    </div>
</div>
<div class="row bg-light py-4 shadow">
    <div class="col-lg-3">
        Jaktinformation
    </div>
    <div class="col">
        {% for tag in tags %}
        {% if tag in user.tags %}
        <button class="tag-button btn btn-success btn-sm" data-user-id="{{ user.id }}" data-tag-id="{{ tag.id }}"
            data-action="delete"> {{ tag.description|lower }}</button>
        {% else %}
        <button class="tag-button btn btn-outline-secondary btn-sm" data-user-id="{{ user.id }}"
            data-tag-id="{{ tag.id }}" data-action="add"> {{ tag.description|lower }}</button>
        {% endif %}
        {% endfor %}
        <p><br></p>
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control me-2" placeholder="{{ stand }}" id="user_stand_selector">
                    <button type="button" class="btn btn-primary">Tilldela</button>
                </div>
            </div>
            <div class="col">
                <div class="d-flex col">
                    <select class="form-select me-2" id="hunt_team_select">
                        <option selected>Byt jaktlag...</option>
                        <option value="1">Hemmalaget</option>
                        <option value="2">Bortalaget</option>
                    </select>
                    <button type="button" class="btn btn-primary">Byt</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.tag-button').click(function () {
            var button = $(this);

            var userId = button.data('user-id');
            var tagId = button.data('tag-id');
            var action = button.data('action');

            $.ajax({
                url: '/api/user/' + userId + '/' + action + '/' + tagId,
                method: 'POST',
                success: function (response) {
                    if (response.success) {
                        // Toggle action
                        var newAction = (action === 'add') ? 'delete' : 'add';
                        button.data('action', newAction).attr('data-action', newAction);

                        // Update button appearance
                        if (newAction === 'delete') {
                            button.removeClass('btn-outline-secondary').addClass('btn-success');
                        } else {
                            button.removeClass('btn-success').addClass('btn-outline-secondary');
                        }
                    } else {
                        alert('Error: ' + response.error);
                    }
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });
        });
    });
</script>
{% endblock %}