{% from "admin/macro_subject.html.j2" import display_subjects %}
{% from "admin/macro_role.html.j2" import display_roles %}
{% extends "layout.html.j2" %}
{% block content %}

<table class="table">
    <tbody>
        <tr>
            <td><b>Namn</b></td>
            <td><b>Telefonnummer</b></td>
            <td><b>E-post</b></td>
            <td><b>Roller</b></td>
            <td><b>Ämnen</b></td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name if user.first_name }} {{ user.last_name if user.last_name }}</td>
            <td>{{ user.phone_number if user.phone_number }}</td>
            <td>{{ user.email }}</td>
            <td>{{ display_roles(user.roles) }}</td>
            <td>{{ display_subjects(user.subjects) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}