{% extends "layout.html.j2" %}
{% block content %}
<div class="row">
    <div class="col-sm-12 bg-white shadow-sm p-4 pt-5">
        <h1>Event Form</h1>

    </div>
</div>
<div class="row bg-white p-4 pt-5">
    <div class="col"></div>
    <div class="col-sm-3 p-3">
        <form action="" method="post">
            {{ event_form.hidden_tag() }}
            {{ event_form.dates(class="form-control", id="selectedDates", type="hidden") }}
            <div id="datepicker"></div>
            <small id="datesHelp" class="form-text text-muted">Välj dagar</small>
            {% if event_form.dates.errors %}
            <div class="invalid-feedback">
                {{ event_form.dates.errors[0] }}
            </div>
            {% endif %}
    </div>
    <div class="col py-3">

        <div class="row py-1">
            <label for="tag_category">Typ av händelse</label>
            {{ event_form.tag_category(class="form-control") }}
        </div>
        <div class="row py-1">
            <label for="description">Tid</label>
            {{ event_form.time(class="form-control", id="selectedTime") }}
        </div>
        <div class="row py-1">
            <label for="description">Sammanfattning</label>
            {{ event_form.description(class="form-control", id="description") }}
        </div>
        <div class="row py-1">
            {{ event_form.submit(class='form-control bg-success', id="userinfoform") }}
        </div>
    </div>
    <div class="col"></div>
</div>
</form>
</div>

<script>
var nowDate = new Date();
var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        maxViewMode: 'year',
        multidate: true,
        todayHighlight: true,
        startDate: today
    }).on('changeDate', function (e) {
        // Update the hidden input field with the selected dates
        var selectedDates = $('#datepicker').datepicker('getDates').map(date => date.toISOString().slice(0, 10)).join(',');
        $('#selectedDates').val(selectedDates);
    });
</script>
</div>



{%endblock%}