{% extends "layout.html.j2" %}
{% block content %}

<h1>Event Form</h1>
<form action="" method="post">
    {{ event_form.hidden_tag() }}
    <div class="mb-3">
        {{ event_form.dates.label(class="form-label") }}
        {{ event_form.dates(class="form-control", id="selectedDates", type="hidden") }}
        <div id="datepicker"></div>
        <small id="datesHelp" class="form-text text-muted">Select dates from the datepicker.</small>
        {% if event_form.dates.errors %}
        <div class="invalid-feedback">
            {{ event_form.dates.errors[0] }}
        </div>
        {% endif %}
    </div>
    <div>
        {{ event_form.description.label(class="form-label") }}
        {{ event_form.description(class="form-control", id="description") }}
    </div>
    <div>
        {{ event_form.name.label(class="form-label") }}
        {{ event_form.name(class="form-control", id="description") }}
    </div>
    {{ event_form.submit(class='form-control bg-success', id="userinfoform") }}
</form>
</div>

<script>
$('#datepicker').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1,
    maxViewMode: 'years',
    multidate: true
}).on('changeDate', function(e) {
    // Update the hidden input field with the selected dates
    var selectedDates = $('#datepicker').datepicker('getDates').map(date => date.toISOString().slice(0, 10)).join(',');
    $('#selectedDates').val(selectedDates);
    
    // Log the value to the console
    console.log('Selected dates:', selectedDates);
});
</script>


{%endblock%}