{% extends "layout.html.j2" %}

{% block content %}
  <h1>Create Event</h1>
  <form method="POST" action="">
    {{ event_form.hidden_tag() }}
    <div>
      {{ event_form.name.label }}<br>
      {{ event_form.name }}
      {% if event_form.name.errors %}
        <div class="errors">{{ event_form.name.errors[0] }}</div>
      {% endif %}
    </div>
    <div>
      {{ event_form.event_type.label }}<br>
      {{ event_form.event_type }}
      {% if event_form.event_type.errors %}
        <div class="errors">{{ event_form.event_type.errors[0] }}</div>
      {% endif %}
    </div>
    <div>
      {{ event_form.description.label }}<br>
      {{ event_form.description }}
      {% if event_form.description.errors %}
        <div class="errors">{{ event_form.description.errors[0] }}</div>
      {% endif %}
    </div>
    <div>
      {{ event_form.tags.label }}<br>
      {{ event_form.tags }}
      {% if event_form.tags.errors %}
        <div class="errors">{{ event_form.tags.errors[0] }}</div>
      {% endif %}
    </div>
    <div>
      {{ event_form.dates.label }}<br>
      {{ event_form.dates }}
      {% if event_form.dates.errors %}
        <div class="errors">{{ event_form.dates.errors[0] }}</div>
      {% endif %}
    </div>
    <div>
      {{ event_form.submit }}
    </div>
  </form>
{% endblock %}