{% extends "layout.html.j2" %}
{% block content %}

{% set dates = event.event_days|map(attribute='date')|list|sort %}

<div class="row bg-light">
  <div class="col shadow   p-4">
    <h1>Anmäl dig till {{ event.tag_category_id }}</h1>
  </div>
</div>
<div class="row p-4 bg-light">
  <div class="col-lg-7">
    <h5><b>{{ format_date(dates[0], format='dd MMMM') }} - {{ format_date(dates[-1], format='dd MMMM') }}</b></h5>
    <p class="px-4">{{ event.description }}</p>
    <p><b>Dåligt med tid? Klicka på de dagar som du inte kan vara med på</b></p>
    <form method="POST" action="" class="form">
      {{ form.hidden_tag() }}
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group"></div>
      {% for subfield in form.event_days %}

      {{ subfield(class="btn-check ") }}
      {{ subfield.label(class="btn btn-outline-success")}}

      {% endfor %}
      {{ form.submit(class="btn btn-success") }}
      {% if form.event_days.errors %}
      <div class="errors">{{ form.event_days.errors[0] }}</div>
      {% endif %}
    </form>
  </div>

  <div class="col-lg-5">
  <h5> Deltagarlista </h5>
    <table class="table">
      <thead>
        <tr>
          <th>Pass</th>
          <th>Namn</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Johan Andersson</td>
        </tr>
                <tr>
          <td>4</td>
          <td>Fredrik Kullman</td>
        </tr>
                <tr>
          <td>12</td>
          <td>Niklas Holmberg</td>
        </tr>
                <tr>
          <td>30</td>
          <td>Anders Johansson</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



{% endblock %}