{% extends "layout.html.j2" %}
{% block content %}

<h1>Kommande händelser</h1>

<table class="table table-striped-columns">
  <thead>
    <tr>
      <th scope="col" class="col-1">händelse</th>
      <th>information</th>
      <th scope="col" class="col-3">datum</th>
      <th scope="col" class="col-2">dagar</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.name }}</td>
      <td>{{ event.description }}</td>
      <td>
        {% set dates = event.days|map(attribute='date')|list|sort %}
        {{ format_date(dates[0], format='dd MMMM') }} - {{ format_date(dates[-1], format='dd MMMM') }}
      </td>
      <td>
        {% for date in dates %}
        {{ format_datetime(date, format='EEEE') }}
        {% endfor %}</td>
    </tr>
    {% endfor%}
  </tbody>
</table>


{% endblock %}