{% from "users/macro_userinfo.html.j2" import userinfo %}
{% from "users/macro_optins.html.j2" import opt_in %}
{% extends "layout.html.j2" %}
{% block content %}

<div class="row">
  <div class="col-4 d-none d-sm-block">
    <nav id="navbar-profile" class="h-100 flex-column align-items-stretch pe-4 border-end d-none d-sm-block">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#userinfo">Användarinformation</a>
        <a class="nav-link" href="#subjects">Ämnen</a>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-profile" data-bs-smooth-scroll="true" class="scrollspy-example-2"
      tabindex="0">
      <div id="userinfo">
        <p class="fw-bolder fs-1">Användarinformation</p>
        {{ userinfo(profile_form) }}
        </p>
      </div>
      <div id="subjects">
        <p class="fw-bolder fs-1">Ämnen</p>
        <p class="fs-5">Här väljer du vad och hur du vill ta del av informationen som kommer</p>
        {{ opt_in(tags, opt_in_form) }}
        </p>
      </div>
      </p>
    </div>
  </div>
</div>

{%endblock%}