{% extends "layout.html.j2" %}

{% block content %}

<div class="container-fluid d-flex text-center align-items-center justify-content-center vh-100">
    <div class="col-12 d-flex text-center rounded align-items-center justify-content-center">
        <div class="row">
            <div class="col text-center bg-light p-4 shadow-lg rounded">
            <h1>403: Du har inte rätt till det där!</h1>
            <p>Antingen har du av misstag kommit fel, annars får du begära utökade privilegier från administratören</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}