Jaktdeltagar PM, Kättbo VVO
Jaktföreskrifter
– Endast älgjakt förekommer!
– Älg får påskjutas endast inom utställt område.
– Jaktdeltagaren ansvarar själv för att statligt jaktkort, jakträtts bevis, vapenlicens, ev.
Lånehandlingar vid lånat jaktvapen och försäkringsbevis (ex. Hemförsäkring) är korrekta!
Kom ihåg! Är din medföljare försäkrad (hemförsäkring)?
– Varselfärgad väst eller mössa skall bäras på älgpasset
– Var och en är personligt ansvarig för säkerheten vid transporter, gevärsförvaring och uppträdande
på respektive pass.
– Vid all förflyttning skall vapnet bäras plundrat med öppet slutstycke! Visa genom detta att vapnet
är oladdat.
– Laddning och patron ur, sker endast på respektive pass.
– Din passplats är märkt med numrerad bricka eller snitsel. Passet får endast lämnas tills order om
återsamling givits. Innan passet lämnas skall var och en förvissa sig om att närmaste jaktkamrat
också hörsammat återsamlingsbeskedet.
– Kom ihåg! Du ansvarar för att elden är släkt när du lämnar ditt pass!
– Håll noga reda på placeringen av passgrannar och eventuellt farliga skjutriktningar.
– Skott avlossas på eget ansvar! Ta kontakt med era passgrannar och kontrollera noggrant farliga
skjutriktningar. Du är ansvarig för alla dina skott! Var säker på vad du skjuter på . Man behöver
aldrig ångra ett ej avlossat skott.
– Vid påskjutning, tag direkt kontakt (radiosamband) med jaktledaren och meddela vad som hänt.
– Om det blir ståndskall får passkytten inte gå in på ståndet, det är hundförarens uppgift.
– Har djur påskjutits och ej fallit på platsen, får du under inga omständigheter påbörja eftersök,
invänta jaktledarens hjälp.¨
– Den som önskar ha åskådare med sig på älgjakten ,skall meddela detta i god tid till Jaktledaren
som ensam fattar beslut i frågan.
Säkerheten – planläggningen – ansvaret ligger på jaktledaren. Men med vetskap om att
ansvarstagande och nyktra jaktkamrater alltid ställer upp önskar vi en god jaktlycka och
välkomnar till deltagande i årets älgjakt.
Med jaktliga hälsningar
Jaktledarna, Kättbo viltvårdsområde