{% extends "layout.html.j2" %}
{% block content %}

<div class="row bg-white p-4">
    <div class="col">
        <h1>Posta en nyhet</h1>
    </div>
</div>
<div class="row bg-white p-4">
    <div class="col">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.title.label}}{{ form.title(class="form-control") }}
            {{ form.content.label }}<textarea id="content" name="content" class="form-control"></textarea>

            {{ form.submit(class="form-control", label="Skicka") }}
        </form>

    </div>
</div>

<script>
    var easyMDE = new EasyMDE({ element: document.getElementById('content') });

    document.querySelector('form').addEventListener('submit', function () {
        document.getElementById('content').value = easyMDE.value();
    });
</script>


{% endblock %}