{% macro event_days_selector(event_days) %}
{{ form.hidden_tag() }}
<div class="row p-1">
    <div class="col">
        <div class="btn-group" role="group" aria-label="toggle-buttons">
            {% for subfield in form.event_days %}

            {{ subfield(class="btn-check ") }}
            {{ subfield.label(class="btn btn-outline-success")}}

            {% endfor %}
        </div>
    </div>
</div>
<div class="row p-1">
    <div class="col">
        {{ form.submit(class="btn btn-success") }}
    </div>
</div>
{% if form.event_days.errors %}
<div class="errors">{{ form.event_days.errors[0] }}</div>
{% endif %}
{% endmacro %}