{% include 'layout.html.j2' %}
{% block content %}
<div class="col bg-light">
    <h1>Downed Animals in Hunt Year {{ hunt_year_id }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Animal Type</th>
                <th>User Who Shot</th>
                <th>Date/Time</th>
                <!-- Add other relevant headers here -->
            </tr>
        </thead>
        <tbody>
            {% for animal in downed_animals %}
            <tr>
                <td>{{ animal.animal_type.name }}</td>
                <td>{{ animal.user.first_name }} {{ animal.user.last_name }}</td>
                <td>{{ animal.date_shot }}</td> <!-- Adjust field name as per your model -->
                <!-- Add other relevant data here -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}