<div class="row p-4">
    <div class="col">
        <h1 class="display-5 text-secondary"><b> Registrera dig </b></h1>
    </div>
</div>
<div class="row px-4">
    <p class="lead">
        <b>Va roligt att just du önskar delta i vårt fina viltvårdsområde.</b>
    </p>
    <p>
        Vi behöver lite uppgifter av dig, detta för att kunna kontakta dig på ett sätt som du själv känner dig bekväm
        med.
        Detta innebär att dessa sparas av oss vilket är viktigt att du förstår. Dessa uppgifter kommer enbart att
        användas
        av oss för att kontakta dig. Du har närsomhelst rätt att dra tillbaka ditt samtycke och kontakta gärna då
        omgående
        så tar vi bort dig.
    </p>
    <p>
        <b>När du registrerar dig så kommer det skickas ett e-post till dig. Du måste trycka på länken för att aktivera ditt konto.</b>
    </p>
</div>