<!-- Modal -->

{% block modal %}
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel"><div class="modal-title"></div></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-data"></div>
      </div>
    </div>
  </div>
</div>

<script>
const modal = document.getElementById('editModal')
modal.addEventListener('show.bs.modal', function (event) {
    
  // event.preventDefault();
  const link = event.relatedTarget.getAttribute('href');
  const title = event.relatedTarget.getAttribute('data-modal-title');
  const modalTitle = document.querySelector('.modal-title');
  const modalData = document.querySelector('.modal-data');
  modalTitle.textContent = title;

  fetch(link).then(res => res.text()).then(html => {
    modalData.innerHTML = html; 
  });
});
</script>

{% endblock %}