<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  <!-- Copyright -->

  <!-- Copyright -->
</footer>
<!-- Footer -->