<header class="p-3 text-bg-light">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('security.login')}}" class="nav-link px-2 text-secondary">Hem</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Kartor</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Jakter</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Viltvårdsområdet</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Om</a></li>
        </ul>

        {% if current_user.is_authenticated %}
        <div class="text-end">
          <a href="{{ url_for('update_profile') }}" class="btn btn-outline-dark me-2">Ändra profil</a>
          <a href="{{ url_for('security.login') }}" class="btn btn-warning">Logga ut</a>
        </div>
        {% else %}
        <div class="text-end">
            <a href="{{ url_for('security.login') }}" class="btn btn-outline-dark me-2">Logga in</a>
            <a href="{{ url_for('security.register') }}" class="btn btn-warning">Registrera</a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>